@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 215 25% 27%; /* Tailwind slate-700 */

    --muted: 210 40% 98%; /* Tailwind slate-50 */
    --muted-foreground: 215 16% 47%; /* Tailwind slate-500 */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 215 25% 27%; /* Tailwind slate-700 */

    --card: 0 0% 100%; /* White */
    --card-foreground: 215 25% 27%; /* Tailwind slate-700 */

    --border: 220 5% 89%; /* Tailwind slate-200 */
    --input: 220 5% 89%; /* Tailwind slate-200 */

    --primary: 217 33% 17%; /* Tailwind slate-800 */
    --primary-foreground: 210 40% 98%; /* Tailwind slate-50 */

    --secondary: 210 40% 98%; /* Tailwind slate-50 */
    --secondary-foreground: 217 33% 17%; /* Tailwind slate-800 */

    --accent: 210 40% 98%; /* Tailwind slate-50 */
    --accent-foreground: 217 33% 17%; /* Tailwind slate-800 */

    --destructive: 0 92% 38%;
		--destructive-foreground: 210 40% 98%; /* Tailwind slate-50 */

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --skill-purple: 219 100% 94%;
    --skill-purple-foreground: 220 44% 63%;

    --skill-rose: 263 86% 96%;
    --skill-rose-foreground: 262 44% 68%;

    --skill-blue: 196 90% 92%;
    --skill-blue-foreground: 196 43% 65%;

    --skill-green: 182 82% 93%;
    --skill-green-foreground: 182 46% 65%;
  }

  .dark {
    --background: 222 47% 11%; /* Tailwind slate-900 */
    --foreground: 210 40% 96%; /* Tailwind slate-100 */

    --muted: 217 33% 17%; /* Tailwind slate-800 */
    --muted-foreground: 213 27% 84%; /* Tailwind slate-300 */

    --popover: 229 84% 1%; /* Tailwind slate-950 */
    --popover-foreground: 215 20.2% 65.1%;

    --card: 229 84% 1%; /* Tailwind slate-950 */
    --card-foreground: 210 40% 96%; /* Tailwind slate-100 */

    --border: 217 33% 17%; /* Tailwind slate-800 */
    --input: 217 33% 17%; /* Tailwind slate-800 */

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 217 33% 17%; /* Tailwind slate-800 */
    --secondary-foreground: 210 40% 98%;

    --accent: 217 33% 17%; /* Tailwind slate-800 */
    --accent-foreground: 210 40% 98%;

    --destructive: 359 51% 48%;
		--destructive-foreground: 210 40% 98%;

    --ring: 217 33% 17%; /* Tailwind slate-800 */

    --radius: 0.5rem;

    --skill-purple: 217 33% 17%; /* Tailwind slate-800 */
    --skill-purple-foreground: 220 44% 63%;

    --skill-rose: 217 33% 17%; /* Tailwind slate-800 */
    --skill-rose-foreground: 262 44% 68%;

    --skill-blue: 217 33% 17%; /* Tailwind slate-800 */
    --skill-blue-foreground: 196 43% 65%;

    --skill-green: 217 33% 17%; /* Tailwind slate-800 */
    --skill-green-foreground: 182 46% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Inter', sans-serif;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Styles for FocusCornersWrapper Component */
/* Zoom Container */
.img-hover-zoom img {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
/* The Transformation */
.img-hover-zoom:hover img {
  transform: scale(107%);
}

/* Scroll Container */
.img-hover-scroll .background-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}
/* The Transformation */
.img-hover-scroll:hover .background-img {
  background-position: 0% 100%;
}

@media (min-width: 768px) {
  /* Scroll Container */
  .img-hover-scroll .background-img {
    background-image: url(/img/winery-dibarro/scrollable.png);
    transition: background-position 1s ease-out;
  }
}
@media not all and (min-width: 768px) {
  /* Scroll Container */
  .img-hover-scroll .background-img {
    background-image: url(/img/winery-dibarro/scrollable-mobile.png);
    transition: background-position 5s ease-out;
  }
}