@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

.inset-shadow {
  box-shadow: 15px -15px 50px #FFFFFF00,
              -15px 15px 50px #F1F5F9,
              inset -1px 1px 16px #E2E8F0,
              inset 1px -1px 16px 17.6043px #FFFFFF00;
}

.inner-shadow {
  background: #F3F6FA;
  box-shadow: inset -2px 2px 3px #EAF0F9;
}